$titleColor: #00324E;
$separatorColor: #94A3B8;
$bgColor: #F8FAFC;
$black: #000000;
$white: #FFFFFF;
$borderColor: #94A3B8;
$placeholderColor: #00324E;
$tableHeadBgColor: #F1F5F9;
$blueBg: #F1F5F9;
$blueBadgeTextColor: #0070B0;
$yellowBg: #FCF6DA;
$yellowBadgeTextColor: #786400;

$maskColor: #53535380;
$btnColor: #1A3D7D;
$fileUploadHint: #1E293BBF;

$excelColor: #1E293B1F;